body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  color:#0C1B33;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
  font-weight: 400;
}


.menu-ul {
  width:60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-ul li a{
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.li-selecion {
  color: #7A306C;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.menu-ul img {
  margin-right: 15px;
}
.top-content{
  display: flex;
  margin-top: 50px;

  
}
.description{
  padding-left: 50px;
  width: 400px;
}
.description-type h1{
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 3px;
}
.ref{
  color: #9C9C9C;
  font-size:16px ;
  margin-bottom: 10px;
}
.description-assessment{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.description-assessment  a{
  color: #9C9C9C;
  margin-left: 10px;
  font-size: 14px;
}
#star-container{
  cursor: pointer;
}
.container-colors h2{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.div-circles {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.blue-circle, .orange-circle, .purple-circle {
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  cursor: pointer;
}

.blue-circle {
  background-color: #014188; 

}

.orange-circle {
  background-color: #9B4D04; 
}

.purple-circle {
  background-color: #811BBF; 
}

.selected {
  border: 3px solid #7A306C;
}
.container-sizer h2{
font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
  


.selected.shrunk {
  width: 32px;
  height: 32px; 
}

.sizes{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.size-button{
  background-color: #fff;
  border: 1px solid #0C1B33;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
  color: #000;
}
.size-button:hover{
  border: 2px solid #7A306C;
  color: #7A306C;
  font-weight: 400;
}
.size-button.clicked {
  border: 2px solid #7A306C;
  color: #7A306C;
  font-weight: 400;
}
.tables-sizes{
  color: #9C9C9C;
  font-size: 14px;
}
.container-sizer p{
  font-weight: 400;
  color: #E30E41;
  font-size: 15px;
  margin: 15px 0px 20px 0px;
}
.discount-off{
  background-color: #7A306C;
  color: #FFEAFB;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 7px;
  font-size: 14px;
  margin-bottom: 10px;
}
.price-discount{
  display: flex;
  align-items: center;
}
.price-discount p{
  text-decoration: line-through;
  color: #9C9C9C;
  font-size: 16px;
}
.price-discount h2{
  font-size: 32px;
  font-weight: 400;
  padding-left: 20px;
}
.parcel{
  font-size: 14px;
  margin-top: 10px;
  color: #0c1b33b2;
}
.container-cart button {
  width: 100%;
  border: none;
  background-color: #7A306C;
  color: #FFEAFB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}
.container-cart button:hover {
  background-color: #ac3596;
  transform: scale(1.05);
}
.container-calculator p{
  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.cep-input{
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: solid 1.5px #0C1B33;
  text-align: center;
  font-size: 14px;
}

.btn-calculator{
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: solid 1.5px #0C1B33;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition:  0.3s ease, color 0.3s ease; 
}

.btn-calculator:hover{
  background: #0C1B33;
  color: #fff;
}
.container-doubts{
  margin-top: 30px;

}
.doubts-list dd {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease; 
}
.doubts-list dd.open {
  max-height: 1500px; 
}
.arrow-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease; 
}
.arrow-icon {
  width: 24px;
  height: 24px;
}
dt{
  font-size: 18px;
  color: #0C1B33;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   cursor: pointer;
}
hr{
  background-color: #9C9C9C;
}
.doubt{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.answer{
  font-size: 16px;
  font-weight: 300;
}
.answer span{
  color: #7A306C;
  font-weight: 400;
}
.div-dropdown-block{
  display: none;
}
.title-details{
  display: flex;
  gap: 10px;
}
.title-details dt {
  border-bottom: 1px solid #9C9C9C;
  margin-bottom: 20px;
  color: #9C9C9C;
}

.title-details dt.active {
  border-bottom: 1px solid #7A306C;
  color:#7A306C;
}

.middle-content{
  display: block;
  max-width: 68%;
  margin-top: 5rem;
}
.div-midlle{
  height: 180px;
}
.div-composition{
  display:grid;
  gap:10px
}
.composition-title{
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 18px;
}
.middle-content dd {
  max-height: 0; 
  overflow: hidden; 
  opacity: 0; 
  transition: max-height 0.5s ease, opacity 0.5s ease; 
}
.middle-content dd.active {
  max-height: 180px; 
  opacity: 1; 
}



@media (max-width: 1250px) {
  .description-type h1 {
    font-size: 25px;
  }
  .container-colors h2{
    font-size: 18px;
  }
  .container-sizer h2{
      font-size: 18px;
  }
  .container-cart button {
    padding: 10px 10px;
    font-size: 18px;
  }
      
}



@media (max-width: 1150px) {
  .top-content {
    flex-direction: column; 
  }
  .menu-ul {
    width:100%;
   
  }
  .description{
    padding-left: 0px;
    width: 100%;
  }
  .div-dropdown-block{
    display: block;
  }
  .middle-content{
    display: none;
  }
  .container-cart button {
    width: 300px;
  }
  
  
  
}


@media (max-width: 700px) {
  
  .container-cart{
    display: flex;
    justify-content: center;
  }

  
}

