.image-section {
    display: flex;
  
}

.image-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 678px;
    overflow-y: hidden;

}
.img-head {
    max-width: 170px;
    height: 256px;
   
}

.selected-image {
    border: 4px solid #7A306C;
    border-radius: 5px;
}

.enlarged-image-container {
    position: relative;
    width: auto;
    height: 100%;
    display: inline-block;
    order: 2;
}

.svg-heart.log{
    margin-top: 10px;
    margin-right: 10px;
}

.enlarged-image {
    width: 449px;
    object-fit: cover;
    padding-left: 10px;
    height: 678px;
}

.svg-heart {
    position: absolute;
    right: 0; 
    z-index: 2;
}

.svg-heart:hover{
    cursor: pointer;
}
.svg-heart:hover path {
    stroke: #f1d7f7;
}

.svg-heart.svg-clicked path {
    fill:#7A306C;
    stroke: #f1d7f7;
}
.selected-image.shrunk {
    max-width: 163px;
}

.img-wrapper{
    order: 1;
}  

@media (max-width: 1250px) {
    .enlarged-image {
        height: 600px;
    }
    .image-list {
        height: 600px;
    }
}
@media (max-width: 1150px) {
    .enlarged-image {
        height: 520px;
    }
    .image-list {
        height: 520px;
    }
}

@media (max-width: 1000px) {
    .image-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
       
    }
    .enlarged-image-container {
      order: 1;
    }
    .enlarged-image {
       padding-left: 0px;
       padding-bottom: 10px;
       width: 456px;
    }

    .img-wrapper {
      order: 2;
    }
    .image-list {
        display: flex;
        flex-direction: row; 
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        height: 266px;
        width: 456px;
    }
   
}

@media (max-width: 700px) {
    .enlarged-image {
       width: 328px;
       height: 350px;
       object-fit: cover;
    }
    .img-head {
        max-width: 100px;
        height: 156px;
    }
    .image-list {
        width: 328px;
    }
    .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .img-wrapper{
     height: 156px;
     margin-bottom: 40px;
    }  

    
    
}


