.image-section {
    display: flex;
  
}

.image-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 678px;
    overflow-y: hidden;

}
.img-head {
    max-width: 170px;
    height: 256px;
   
}

.selected-image {
    border: 4px solid #7A306C;
    border-radius: 5px;
}

.enlarged-image-container {
    position: relative;
    width: auto;
    height: 100%;
    display: inline-block;
    order: 2;
}

.enlarged-image {
    width: 449px;
    object-fit: cover;
   padding-left: 10px;
  
    height: 678px;
}

.svg-heart {
    position: absolute;
    left: 90%;
     padding-top: 5px;
}


.svg-heart:hover{
    cursor: pointer;
}
.svg-heart:hover path {
    stroke: #f1d7f7;
}

.svg-heart.svg-clicked path {
    fill:#7A306C;
    stroke: #f1d7f7;
}
.selected-image.shrunk {
    max-width: 163px;
  }

.img-wrapper{
    order: 1;
}  

@media (max-width: 700px) {
    .image-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
       
    }
    .enlarged-image-container {
      order: 1;
    }
    .enlarged-image {
       padding-left: 0px;
       padding-bottom: 10px;
       width: 456px;
    }

    .img-wrapper {
      order: 2;
    }
    .image-list {
        display: flex;
        flex-direction: row; 
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        height: 266px;
        width: 456px;
    }
   
}

  /* @media (max-width: 1540px) {
    .svg-heart {
        margin-left: 24rem;
    }
}



@media (max-width: 1455px) {
    .svg-heart {
        margin-left: 23rem;
    }
}

@media (max-width: 1392px) {
    .svg-heart {
        margin-left: 22rem;
    }
}

@media (max-width: 1340px) {


    .image-section {
        flex-direction: column;
        align-items: center;

    }

    .image-list {
        overflow-x: auto; 
        overflow-y: hidden; 
        display: flex;
        height: 205px;
        width: 450px;
    }

    .img-head {
        width: 130px;
        height: 195px;
        object-fit: cover;
    }
    .enlarged-image{
        width: 691px;
        object-fit: contain;
    }

    .enlarged-image-container {
        width: 100%;


    }

    .selected-image.shrunk {
        width: 125px;
        height: 187px;
    }
}
 */
